*{
    margin: 0;
    padding: 0;
}



.container .navbar{
    width: 100%;
height: 10%;
background-color:rgba(224, 135, 0);
}
.navbar .müze{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;

}
.navbar .müze a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color:rgb(221, 236, 80) ;
}


.navbar ul{
    float: right;
    margin-right: 20px;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 6px 13 px;
    user-select:none;
  
    
}
.navbar ul li a .active,
.navbar ul li a .hover{
    background: #ff6e00;
    border-radius: 2px;
} 
            h1{
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                color: white;
                text-align: center;
                font-size: 40px;
                margin: 50px 50px 50px;
                background-color:rgba(9, 119, 139, 0.452);
                border-radius: 50px 50px 50px 50px;
                user-select:none;
            }

            h2{
                font-family:Georgia, 'Times New Roman', Times, serif;
                text-align: center;
                color: rgb(104, 4, 4);
                user-select:none;
                
            }

            body{
  background-color:white;
    background-image: url[];
}
 p {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: gray;
                text-align:center;
               
                font-size: 15px;
                font-weight: bolder;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 40%;
  background-color: aquamarine;
  border-radius: 30px 30px 30px 30px;
 
}
.table1 table{

    margin-right: auto;
   
}
.table2 table{
    margin-right: auto;
   ,
}

